@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
}
html {
    background-image: url('../images/hero-earth.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
}
#wrap {
    width: 480px;
    padding: 20px;
    background-color: rgba(0,14,51,0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-100px)
}
form > div{
	text-align:center;
	padding:30px;
	font-size: 20px;
	font-weight: 600;
	color:white;
	cursor:pointer;
}
form > div:hover{
	color:gray;
}
h1{
	text-align:center;
	color:white;
}